In [1]:
import pandas as pd
from sodapy import Socrata
import json

In [2]:
dataset_key = 'cpkv-aajs'
total_rows = 25013
output_final_name = 'housing.json'

In [3]:
client = Socrata('data.lacity.org',
                 'a8aBcUA3vcl24l81OQXzi9puR',
                 username="hkoneru@usc.edu",
                 password="Dsci@2023")

In [4]:
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get(dataset_key, limit=total_rows)

In [5]:
# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

,zip_code,address_end,floor_area_l_a_building_code_definition,work_description,:@computed_region_qz3q_ghft,:@computed_region_k96s_3jcv,reference_old_permit,:@computed_region_kqwf_mjcx,census_tract,permit_category,...,applicant_address_3,applicant_address_2,unit_range_start,address_fraction_start,address_fraction_end,applicant_business_name,occupancy,unit_range_end,suffix_direction,project_number
0,90094,6500,4443,Three story single family dwelling with attcah...,24343,923,19WL99310,10,2756.02,Plan Check,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90026,1950,2389,NEW 3-STORY SINGLE FAMILY RESIDENCE - 2389 SQF...,23444,480,21LA01334,8,1974.10,Plan Check,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,91343,15827,2631,"NEW 34'-0"" x 47'-4"" TWO-STORY SINGLE FAMILY DW...",18914,121,21ON 2734,2,1174.04,Plan Check,...,CALABASAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90077,627,5823,1.) SUPPLEMENTAL TO 14010-30000-03040 FOR CHAN...,NaN,NaN,17VN34261,NaN,2621.00,Plan Check,...,"LOS ANGELES, CA.",#1510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,91343,15803,2631,"NEW 34'-0"" x 47'-6"" TWO-STORY SINGLE FAMILY DW...",18914,121,21ON 2735,2,1174.04,Plan Check,...,CALABASAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25008,90094,12411,1494041,"New 5-story, 703 unit apartment over 1 level s...",24343,923,14VN73978,10,2756.02,Plan Check,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25009,90017,1000,137688,Mixed use builidng (Apartment/retail/parking g...,23078,546,15LA56210,9,2077.10,Plan Check,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25010,90017,960,1015286,New 64-story mixed-use Apartment and Retail bu...,NaN,NaN,20LA47304,NaN,2077.10,Plan Check,...,"LOS ANGELES, CA",STE. 2200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25011,90016,3333,1741033,NEW 910-UNIT MIXED-USE BUILDING (CORE AND SHEL...,23077,667,18LA05764,12,2199.02,Plan Check,...,SANTA MONICA,203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25012,90012,1000,2188552,NEW SEVEN STORY MIXED USE BUILDING WITH TWO LE...,22728,548,18WL91190,11,2080.00,Plan Check,...,NaN,NaN,NaN,NaN,NaN,PALMER BEAYDRY AVE. PROPERTIES,NaN,NaN,NaN,NaN

In [6]:
with open(output_final_name, "w") as outfile:
    json.dump(results, outfile)